In [4]:
set1={1,2,3,4,5,6,7}
set1

{1, 2, 3, 4, 5, 6, 7}

In [5]:
type(set1)

set

In [10]:
set2={}
li=[]

In [9]:
type(set2)

dict

In [11]:
type(li)

list

In [15]:
set3=set() # if we want  to define a null set thn we must represent it with set() function nd thn call the selected nul set

In [16]:
type(set3)

set

In [17]:
set3

set()

In [18]:
li

[]

In [19]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [20]:
set1[0] # set is an unindex, so we cant not call any value by there index number,unorder,unchangeable

TypeError: 'set' object is not subscriptable

In [21]:
set1.add(100) # single element add

In [22]:
set1

{1, 2, 3, 4, 5, 6, 7, 100}

In [23]:
set1.update([10,20,30,40,10]) # add multiple valuein this way,but only unique value can be added in a set

In [24]:
set1

{1, 2, 3, 4, 5, 6, 7, 10, 20, 30, 40, 100}

In [39]:
set1.add('ai')

In [40]:
set1

{1, 100, 2, 20, 3, 30, 4, 40, 5, 6, 7, 'ai'}

In [41]:
set1.remove('ai') # single value deleted and if value is allocated in the set thn it will be deleted but if the value is not allocated ,Then the error is  shown

In [42]:
set1

{1, 2, 3, 4, 5, 6, 7, 20, 30, 40, 100}

In [43]:
set1.discard(10) # if value is allocated in the set thn it will be deleted but if not allocated value ,Then the error is not shown

In [44]:
set1

{1, 2, 3, 4, 5, 6, 7, 20, 30, 40, 100}

In [45]:
2 in set1 #check value in the set

True

In [51]:
set2.clear() #deleted all value from the set

In [52]:
set1

set()

In [53]:
set2

{}

In [56]:
set4={1,2,3,4,5}

In [57]:
set4

{1, 2, 3, 4, 5}

In [58]:
set4.pop() #delete from index one in the set and specific elements ca nbe removed

1

In [59]:
set4

{2, 3, 4, 5}

In [60]:
4 in set4

True