In [3]:
data='python'

In [4]:
data[0]

'p'

In [5]:
data[-1]

'n'

In [6]:
for x in data:
    print(x)

p
y
t
h
o
n

In [7]:
range(100)

range(0, 100)

In [8]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [9]:
len(data)

6

In [10]:
data ='i love data science'
for x in range(len(data)):
    print(data[x])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

In [11]:
data ='i love data science'
data=data.split()
for x in range(len(data)):
    print(data[x],x)

i 0
love 1
data 2
science 3

In [12]:
data[1]

'love'

In [13]:
n=[2,4,6,8,10]
total=0
for x in n:
    total=total+x
    print(total)
print('Total: ',total)

2
6
12
20
30
Total:  30

In [14]:
n=[2,4,6,8,10]
total=0
for x in n:
    total=total+x
   
print('Total: ',total)

Total:  30

In [15]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [16]:
for x in range(10):
    print(x, " data science")

0  data science
1  data science
2  data science
3  data science
4  data science
5  data science
6  data science
7  data science
8  data science
9  data science

In [17]:
for x in range(10,18):
    print(x)

10
11
12
13
14
15
16
17

In [18]:
for x in range(10,18,2):
    print(x)

10
12
14
16

In [19]:
for x in range(100,10,-10):
    print(x)

100
90
80
70
60
50
40
30
20

In [20]:
for x in range(100,50,-2):
    print(x)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52

In [21]:
#Display numbers from -100 to -10 using for loop
for x in range(-100,-10):
    print(x)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [22]:
# Exercise 01 : Display numbers from -100 to -10 using for loop
for x in range(-100,-10):
    print(x)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [23]:
for num in range(-100, -9):
    print(num)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [33]:
# Exercise 02 : write a program to sum all prime numbers within a range 10 to 1000
total=0
for x in range(2,15):
    if(x%2!=0):
        total=total+x
        print(x)
print("the sum of prime number is : ",total)

3
5
7
9
11
13
the sum of prime number is :  48

In [29]:
#Exercise 03 : Find the factorial of n!(hint, n=7: 7*6*5*4*3*2*1)
n = int(input())
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
       
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Example usage:

print("Factorial of", n, "is", factorial(n))

 5

Factorial of 5 is 120

In [31]:
n=int(input())
def factorial(n):
    if n<0:
        return "Factorial is not defined for negative numbers"

    elif n==0 or n==1:
        return 1
    else:
        result=1
        for i in range(2,n+1):
            result=result*i
        return result
print("Factorial of ",n,"is ",factorial(n))

 5

Factorial of  5 is  120

In [6]:
# Exercise 04 : Reverse a given integer number 27956240710 using for loop


number = int(input("Enter a number: "))
reversed_number = 0

# Count the number of digits in the input number
num_digits = len(str(number))

for x in range(num_digits):

    digit = number % 10
    reversed_number = reversed_number * 10 + digit
    number = number // 10

print("Reversed number:", reversed_number)

Enter a number:  345

Reversed number: 543