All About Data Types in Python

In [1]:
x=10 #int
y=10.5 #float
z=10+5j# 10 is real 5j is imaginary

In [3]:
type(x)

int

In [4]:
type(y)

float

In [5]:
type(z)

complex

In [8]:
isinstance(z,complex) #boolean value return ,same as type() function

True

In [11]:
# int to float data type convert
n=float(x)

In [12]:
n

10.0

In [13]:
type(n)

float

In [14]:
n=int(n)
type(n)

int

In [16]:
# int to complex
n=complex(n)

In [17]:
n

(10+0j)

In [18]:
type(n)

complex

In [43]:
n=int(n) # complex to int is not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [20]:
n=float(n)

TypeError: float() argument must be a string or a real number, not 'complex'

In [44]:
n=complex(input("enter your comples number : ")) # complex to float is not possible

enter your comples number :  12

In [22]:
n

(1+0j)

In [23]:
n=complex(input("enter your comples number : "))

enter your comples number :  1+j

In [24]:
type(n)

complex

Boolean

In [40]:
x = True
y = False

In [41]:
x

True

In [42]:
y

False

In [46]:
False

False

In [47]:
true

NameError: name 'true' is not defined

Sequence Data

In [49]:
# list represent by []
l=[2,4,6,True,[1,2,3],"data",(15,10,5)]

In [50]:
l

[2, 4, 6, True, [1, 2, 3], 'data', (15, 10, 5)]

In [52]:
l[0] # 0 number index value

2

In [54]:
l[-1] # last index value show

(15, 10, 5)

In [56]:
l[-1][1] # show last index second value

10

In [58]:
isinstance(l,list)

True

In [59]:
# Tuple represent by ()
t=(1,2,3,'tamu')
t

(1, 2, 3, 'tamu')

In [60]:
type(t)

tuple

In [64]:
t[0] # 0 number index value show

1

In [65]:
t[0:2] # colon means to : i index 0 to index 2 value show

(1, 2)

In [67]:
#Range
x=range(10) # first case of range

In [68]:
x

range(0, 10)

In [73]:
for i in x :  # x=10 so value of i= index 0 to 10
     print(i)

5
6
7
8
9

In [74]:
x=range(5,10) #second case : start value of i index 5 to 10
for i in x :
    print(i)

5
6
7
8
9

In [76]:
x=range(5,15,3)# 3rd case  start from index 5 to 15 but gap between each  3 index
for i in x :
    print(i)

5
8
11
14

In [79]:
x=range(15,5,-3)# 4th case  reverse of 3rd case
for i in x :
    print(i)

15
12
9
6

In [80]:
# Array : store only  same type of value
import array as ar

In [91]:
a=ar.array('i',[1,2,3,4])

In [92]:
type(a)

array.array

In [93]:
#string
x='tamanna'
type(x)

str

In [96]:
x = '''
i love
python
'''

In [97]:
x

'\ni love\npython\n'

In [98]:
type(x)

str

In [100]:
# set 
s={1,2,3,4}

In [101]:
type(s)

set

In [104]:
# Dictonary
dic={
'versity ' : 'AIUB',
    'dep' : 'cse'
    
}

In [105]:
type(dic)

dict

In [108]:
dic.keys() # only key value sho

dict_keys(['versity ', 'dep'])

In [109]:
dic.values()# only values shown

dict_values(['AIUB', 'cse'])

In [112]:
# data frame pandas
import pandas as pd

In [114]:
url="https://raw.githubusercontent.com/jahidatamanna/Public-Datasets/main/juice.csv"
df=pd.read_csv("https://raw.githubusercontent.com/jahidatamanna/Public-Datasets/main/juice.csv")

In [115]:
df

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.00,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.30,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.00,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.00,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.00,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,1066,CH,252,7,1.86,2.09,0.10,0.00,0,0,0.587822,2.09,1.76,0.33,Yes,0.000000,0.053763,0.23,0
1066,1067,CH,256,7,1.86,2.18,0.00,0.00,0,0,0.670258,2.18,1.86,0.32,Yes,0.000000,0.000000,0.32,0
1067,1068,MM,257,7,1.86,2.18,0.00,0.00,0,0,0.736206,2.18,1.86,0.32,Yes,0.000000,0.000000,0.32,0
1068,1069,CH,261,7,1.86,2.13,0.00,0.24,0,0,0.588965,1.89,1.86,0.03,Yes,0.112676,0.000000,0.27,0
1069,1070,CH,270,1,1.86,2.18,0.00,0.00,0,0,0.671172,2.18,1.86,0.32,No,0.000000,0.000000,0.32,1

In [116]:
df.shape

(1070, 19)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              1070 non-null   int64
 1   Purchase        1070 non-null   object
 2   WeekofPurchase  1070 non-null   int64
 3   StoreID         1070 non-null   int64
 4   PriceCH         1070 non-null   float64
 5   PriceMM         1070 non-null   float64
 6   DiscCH          1070 non-null   float64
 7   DiscMM          1070 non-null   float64
 8   SpecialCH       1070 non-null   int64
 9   SpecialMM       1070 non-null   int64
 10  LoyalCH         1070 non-null   float64
 11  SalePriceMM     1070 non-null   float64
 12  SalePriceCH     1070 non-null   float64
 13  PriceDiff       1070 non-null   float64
 14  Store7          1070 non-null   object
 15  PctDiscMM       1070 non-null   float64
 16  PctDiscCH       1070 non-null   float64
 17  ListPriceDiff   1070 non-null   float64
 18  STORE           1070 non-null   int64
dtypes: float64(11), int64(6), object(2)
memory usage: 159.0+ KB

In [118]:
# Binary Type
byte_arr=bytearray('abcd','utf-8')

In [119]:
type(byte_arr)

bytearray

In [120]:
memoryview(byte_arr)

In [121]:
memoryview(byte_arr)[0]

97

In [125]:
mv=memoryview(byte_arr) # ASCII value of A=65 ,so a to convert A by ASCII value
mv[0]=65

In [126]:
memoryview(byte_arr)[0]

65

In [128]:
byte_arr

bytearray(b'Abcd')