In [4]:
def num_add(x,y): #parameter
    sum=x+y
    return sum
num_add(12,8) #argument

20

<h2>Arguments</h2>
<p>1. positional argument</p>
<p>2. keyword argument</p>
<p>3. default argument</p>
<p>4. variable length argument</p>

<h2>Positional argument</h2>

In [5]:
def num_add(x,y): #parameter
    print(x) #output positional argument
num_add(12,8) #argument

12

<h2>Keyword argument</h2>

In [7]:
def personal(job,income):
    print(job)
    print(income)

personal('data scientist',20000)

data scientist
20000

In [9]:
def personal(job,income):
    print('job=',job)
    print('income=',income)

personal(income=20000,job= 'data scientist')

job= data scientist
income= 20000

<h2>default argument</h2>

In [11]:
def personal(job,income=100000):
    print('job=',job)
    
    print('income=',income)
personal('data science',20000)

job= data science
income= 20000

<h2> variable length argument</h2>

In [19]:
def add_num(*x):
    print(x)
    result=sum(x)
    return result

add_num(10,20,30,40,12,13)

(10, 20, 30, 40, 12, 13)

125

In [20]:
def add_num(x,*y):
    print(x)
    print(y)
   

add_num(10,20,30,40)

10
(20, 30, 40)

<h2>argument and keyword</h2>

In [22]:
def personal_date(name,*arg):
    print(name)
    print(arg)

personal_date('jahida tamanna','cse','student')

jahida tamanna
('cse', 'student')

In [24]:
def personal_date(name,**arg):
    print(name)
    print(arg)
    print(type(arg))

personal_date('jahida tamanna',vrsty='aiub',cty='dhaka')

jahida tamanna
{'vrsty': 'aiub', 'cty': 'dhaka'}
<class 'dict'>