<h4>1. print():out put text or variable to the console</h4>

In [1]:
print("data science")

data science

<h4>2. len():Returns the length of an object</h4>

In [4]:
my_list=[1,23,4,5,6]
length=len(my_list)

In [5]:
length

5

<h4>3. input():Reads input from the user</h4>

In [8]:
user_input=input("Enter something :")

Enter something : t

In [10]:
user_input

't'

<h4>4. type():Returns the type of an object.</h4>

In [11]:
x=5
type_of_x=type(x)
type_of_x(x)

5

<h4>5. int(),float,str():convert values to integer,float,or strings</h4>

In [13]:
num_str='45'
num_int=int(num_str)
num_int

45

In [14]:
float(num_int)

45.0

<h4>6. range():Generates a sequence of numbers.</h4>

In [15]:
numbers=list(range(1,6))
numbers

[1, 2, 3, 4, 5]

<h4>7. sum():Returns the sum of all elements in an iterable</h4>

In [16]:
my_list=[1,2,3,4]
total=sum(my_list)
total

10

<h4>8. max(),min():Returns the maximum or minimum value from an iterable.</h4>

In [17]:
numbers=[3,6,2,7,9]
max_val=max(numbers)
min_val=min(numbers)

In [18]:
max_val

9

In [19]:
min_val

2

<h4>9. abs():Return the absolute value of a number.</h4>

In [20]:
absolute_value=abs(-12)
absolute_value #give a positive number

12

<h4>10. round():Rounds a floating-point number to specified number of decimals.</h4>

In [22]:
round_num=round(3.1416,2) # round to 2 places
round_num

3.14

<h4>11. sorted():Returns a nuw sorted list from the elements of an iterable.</h4>

In [23]:
numbers=[12,45,67,34,11,2,9,1]
sorted_number=sorted(numbers)
sorted_number

[1, 2, 9, 11, 12, 34, 45, 67]

<h4>12. any(),all():Returns true if any or all elements in an iterable ane true</h4>

In [35]:
bool_list=[True,False,True,True,False]
any_true=any(bool_list)
all_true=all(bool_list)

In [36]:
any_true # if there is a true thn output will be return true

True

In [38]:
all_true  # if there is a false thn output will be return false,all values must be true

False

<h4>13. str.join():joins elements of an iterable with a string as a separator.</h4>

In [41]:
my_list=[" apple","orange","banana "]
joined_str=" + ".join(my_list)
joined_str

' apple + orange + banana '

<h4>14. str.lower(),str.upper():Converts a string to lowercase or uppercase.</h4>

In [44]:
my_string="Hello World"
lower_case=my_string.lower()
upper_case=my_string.upper()

In [45]:
lower_case

'hello world'

In [46]:
upper_case

'HELLO WORLD'

<h4>15. list(),tuple():Converts an iterable to a list or tuple</h4>

In [47]:
my_tuple=(1,2,3,4)
tuple_to_list=list(my_tuple)
tuple_to_list

[1, 2, 3, 4]

<h4>16. dict():Create a dictionary</h4>

In [49]:
my_dic=dict(name="tamanna",age=23)
my_dic

{'name': 'tamanna', 'age': 23}

<h4>17. set():Create a set.</h4>

In [50]:
my_set=set([1,2,3,4])
my_set

{1, 2, 3, 4}

<h4>18. enumerate():Returns tuples with the index and corresponding element.</h4>

In [53]:
my_list=["a","b","t"]
for index,value in enumerate(my_list):
    print(index,value)

0 a
1 b
2 t

<h4>19. zip():combines two or more iterables element-wise.</h4>

In [57]:
names=["tams","jahida","inti"]
ages=[23,24,25]
zipped_data=zip(names,ages)

In [58]:
zipped_data

In [59]:
type(zipped_data)

zip

<h4>21. reversed(): Returns a reverse iterator of a sequence</h4>

In [60]:
my_list=[1,2,3,4]
reversed_list=list(reversed(my_list))
reversed_list

[4, 3, 2, 1]

<h4>22. sum() (with start argument):Returns the sum of an iterable with an optional starting value.</h4>

In [63]:
numbers=[1,2,3]
total=sum(numbers,100)

In [64]:
total

106

<h4>23. abs() (for complex numbers): Returns the magnitude of a complex number.</h4>
</h5>

In [66]:
complex_num=3+4j
magnitude=abs(complex_num)

In [67]:
magnitude

5.0

<h4>24. slice(): Creates a slice object that can be used to slice sequences like lists and strings.</h4>

In [69]:
my_list=[1,2,3,4,5] # index 1 to index n-1=4-1=3
my_slice=slice(1,4)
sliced_list=my_list[my_slice]
sliced_list

[2, 3, 4]

<h4>25. chr(), ord() (extended usage): Handling Unicode characters and code points.</h4>

In [70]:
euro_symbol = chr(8364)  # returns '€'
code_point = ord('€')  # returns 8364

In [71]:
euro_symbol

'€'

In [72]:
code_point

8364

In [73]:
euro_symbol = chr(65)  # returns '€'
code_point = ord('A')  # returns 8364

In [74]:
euro_symbol

'A'

In [75]:
code_point

65